@{
    ViewBag.Title = "Employee Management App";
}

<div class="jumbotron">
    <h1>Welcome to Employee Management App!</h1>
    <p class="lead">Manage your employees for free.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Employee List</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>EmpNo</th>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>Birthdate</th>
                    <th>ContactNo</th>
                    <th>EmailAddress</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var employee in Model)
                {
                    <tr>
                        <td>@employee.Id</td>
                        <td>@employee.EmpNo</td>
                        <td>@employee.FirstName</td>
                        <td>@employee.LastName</td>
                        <td>@employee.Birthdate.ToShortDateString()</td>
                        <td>@employee.ContactNo</td>
                        <td>@employee.EmailAddress</td>
                        <td>
                            <form method="post" action="@Url.Action("Edit", new { employeeId = employee.Id })">
                                <button type="submit" class="btn btn-primary btn-sm">Edit</button>
                            </form>

                            <form method="post" action="@Url.Action("Delete", new { employeeId = employee.Id })">
                                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

                <tr>
                    <td>
                        <input type="text" class="form-control" placeholder="#" name="Id" id="Id" form="add-form">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="E######" name="EmpNo" id="EmpNo" form="add-form">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="John" name="FirstName" id="FirstName" form="add-form">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Dela Cruz" name="LastName" id="LastName" form="add-form">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="yyyy-MM-DD" name="Birthdate" id="Birthdate" form="add-form">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="09#########" name="ContactNo" id="ContactNo" form="add-form">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="emailaddress@gmail" name="EmailAddress" id="EmailAddress" form="add-form">
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary btn-sm" style="background-color:green" form="add-form">Add Employee</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <form id="add-form" method="post" action="@Url.Action("Create")">
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>
